@import "setup";

$brick: url("../images/brickwall/brickwall.png");

@mixin clearfixed {
	&::after{
		visibility: hidden; 
		display: block; 
		font-size: 0; 
		content: " "; 
		clear: both; 
		height: 0;
	}
}

@mixin bricked {
	background-image: $brick;
	background-attachment: fixed;
}

body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

nav {
	background: rgba(255, 255, 255, .9);
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #fff;
	z-index:10;

	li {
		text-transform: uppercase;
		display: inline-block;
		padding: 20px 30px;
	}

	a {
		text-decoration: none;
		color: rgb(160, 160, 160);

		&:hover {
			color: rgb(0, 0, 0);
		}
	}
}

.header {
	@include bricked;
	height: 450px;
	position: relative;
	margin-top: 60px;

	.maker-industries {
		line-height: 4.2em;
		padding: 200px 0;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	.maker{
		display: block;
		font-size: 3.4em;
		color: #3F3F3F;
	}

	.industries {
		display: block;
		font-size: 2em;
		letter-spacing: 1px;
		color: rgb(132, 132, 132);
		padding-left: 6px;
	}

}

.services {
	padding-top: 40px;
	padding-bottom: 0px;
	
	.services-description{
		display: block;
		width: 70%;
		margin: 10px auto;
		text-align: justify;
		color: rgb(132, 132, 132);
		font-weight: 300;
		font-size: 22px;
		padding: 20px 0 40px;

		h2{
			text-align: center;
		}

		p{
			margin-top: 20px;
			line-height: 1.5;
		}
	}

	.services-circles{
		@include clearfixed;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: center; // center horizontally
		justify-content: center; // center horizontally
		-webkit-flex-wrap: wrap; // don't scale, wrap to next row
		flex-wrap: wrap; // don't scale, wrap to next row
	}
	
	.services-circle{
		background-image: $brick;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		margin: 0 20px;
		-webkit-perspective:500px;
		perspective:500px;
		margin-top: 20px;
		
		p, img{
			display: block;
			width: 100%;
			position: absolute;
			transition:all .5s;
			-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
			-webkit-backface-visibility:hidden;
      backface-visibility:hidden;
		}

		img {
			left: 50%;
			width: 50%;
		}

		p{
			font-size: 20px;
			top: 32%;
			padding: 0 20px;
			color: rgb(140, 140, 140);
			font-weight: 300;
			-webkit-transform: rotateY(180deg); /* By Default set the back to be rotate */
			transform: rotateY(180deg); /* By Default set the back to be rotate */
		}

		&.launch p{
			top: 25%;
		}

		&:hover img{
			-webkit-transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
			transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
		}

		&:hover p{
			-webkit-transform:rotateY(0deg);
			transform:rotateY(0deg);
		}

	}

	.services-list{
		width: 80%;
		margin: 0 auto;
		padding-top: 60px;
	}

	li{
		margin: 0 20px;
		padding: 4px 0;
		font-weight: 300;
		display: inline-block;
		position: relative;
		color: rgb(160, 160, 160);
		font-size: 20px;
		line-height: 1.5;
	}

	.dotted::after {
		margin: 0 20px;
		position: absolute;
		content: "";
		height: 1px;
		width: 1px;
		top: 40%;
		left: 100%;
		border: 1px solid grey;
		background: grey;
	}

}

.gallery {
	padding-top: 80px;
}

.gallery-cell{
	position: absolute;
	height: 400px;
}

.gallery-cell img{
	height: 400px;
}



.about-us {
	padding: 60px 0;
	color: black;

	@include clearfixed;

	.about-us-description {
		float: left;
		width: 28%;
		margin: 40px 2.5%;

		.title {
			color: #3F3F3F;
			text-transform: uppercase;
			font-size: 22px;
			padding-bottom: 10px;
		}
		
		.description {
			font-size: 20px;
			color: rgb(160, 160, 160);
			font-weight: 300;
			text-align: justify;
			line-height: 1.5;
		}
	}

}

.contact {
	@include clearfixed;
	background-image: $brick;
	background-attachment: fixed;
	height: 500px;

	h2{
		display: block;
		text-transform: uppercase;
		color: #3F3F3F;
		font-size: 16px;
		margin-bottom: 6px;
	}

	.contact-form, .map{
		float: left;
		margin: 80px 4% 40px 4%;
		width: 42%;
		height: 300px;
		overflow: hidden;
	}

	.contact-form{
		text-align: center;
	}

	label, input, textarea{
		display: inline-block;
		color: #3F3F3F;
		padding: 4px 0;
		margin: 4px 0;
	}
	
	label{
		padding-right: 4px;
		width: 30%;
		text-align: right;
	}
	
	input, textarea{
		width: 68%;
		border: 1px solid rgb(160, 160, 160);
		border-radius: 6px;
	}

	textarea{
		height: 145px;
	}

	input[type=submit]{
		float: right;
		width: 68%;
	}

	iframe {
		height: 290px;
		width: 100%;
	}

	.map{
		padding-right: 4%;
	}

	.copyright {
		clear: both;
		font-size: 14px;
		color: rgb(100, 100, 100);
		padding-top: 40px
	}

}

@media(max-width: 1000px) {

	.services {
		padding-top: 20px;
	}

	.services .services-circles{
		width: 70%;
		margin: 0 auto;
	}

	.gallery {
		clear: both;
	}

	.about-us{
		width: 80%;
		margin: 0 auto;
		.about-us-description {
			display: block;
			width: 100%;
			margin: 10px 0;
		}
	} 
}

@media(max-width: 700px) {

	nav{
		li{
			display: block;
			padding: 4px;
		}
	}

	.header {
		height: 300px;
		position: relative;
		margin-top: 137px;

		.maker-industries {
			line-height: 3.6em;
		}

		.maker{
			font-size: 2.8em;
		}

		.industries {
			font-size: 1.6em;
			letter-spacing: 1.5px;
			padding-left: 6px;
		}

	}

	.services{

		.services-description{
			font-size: 18px;
			padding: 20px 0 20px;

			h2{
				text-align: center;
			}
		}

		.services-circle {
			height: 150px;
			width: 150px;
			margin: 10px;

			img{
				-webkit-backface-visibility:visible;
				backface-visibility:visible;
			}

			p{
				visibility: hidden;
				color: red;
			}

			&:hover img{
				-webkit-transform: translateX(-50%) translateY(-50%) rotateY(-180deg);	
				transform: translateX(-50%) translateY(-50%) rotateY(-180deg);	
			}
		}

		.services-list{
			padding-top: 20px;
		}

		li{
			font-size: 18px;
		}
	}

	.about-us {
		padding: 40px 0;

		.about-us-description {
			.title {
				font-size: 20px;
				padding-bottom: 10px;
			}
			
			.description {
				font-size: 18px;
			}
		}
	}

	.contact {
		height: 760px;
		padding-top: 10px;
	}	

	.contact textarea {
		height: 80px;
	}

	.contact .map, .contact .contact-form{
			display: block;
			width: 70%;
			margin: 20px auto;
			height: 250px;
			overflow: hidden;
			float: none;
	}

	.contact .map{
		padding: 0;
	}

	.contact {
		height: 660px;

		label{
			width: 24%;
			text-align: right;
		}
		
		input, textarea{
			width: 74%;
			border: 1px solid rgb(160, 160, 160);
			border-radius: 6px;
		}
	}

	.contact input[type=submit]{
		margin-top: 5px;
		width: 74%;
		margin-right: 2px;
	}

}

@media(max-width: 525px) {

	.services li{
		display: block;
		line-height: 1.5;
	}

	.services .dotted::after {
		margin: 0 20px;
		position: absolute;
		content: "";
		border: none;
		background: none;
	}

	.services{
		.services-circle {
			height: 100px;
			width: 100px;
			margin: 10px;

			img{
				backface-visibility:visible;
			}

			p{
				visibility: hidden;
				color: red;
			}

			&:hover img{
				-webkit-transform: translateX(-50%) translateY(-50%) rotateY(0);	
				transform: translateX(-50%) translateY(-50%) rotateY(0);	
			}
		}
	}

	.contact {
		height: 760px;
	}	

	.contact .contact-form {
		height: 360px;
	}

	.contact label, .contact input {
		display: block;
	}

	.contact input, .contact textarea {
		margin-top: 0;
		width: 100%;
	}

	.contact label {
		margin-bottom: 0;
		padding-bottom: 0;
		text-align: left;
	}

	.contact input[type=submit]{
		margin-top: 5px;
		width: 100%;
		margin-right: 0;
	}
}

@media(max-width: 360px) {
	

	.header {
		height: 300px;
		position: relative;
		margin-top: 137px;

		.maker-industries {
			line-height: 2.6em;
		}

		.maker{
			font-size: 2em;
		}

		.industries {
			font-size: 1.2em;
			letter-spacing: .6px;
			padding-left: 6px;
		}

	}

	.services {
		padding-top: 20px;
		padding-bottom: 0px;
		
		.services-description h2{
				font-size: 20px;
			}

		.services-description	p{
				font-size: 16px;
			}

		li{
			margin: 0;
			padding: 0;
			line-height: 1.5;
			display: block;
			font-size: 16px;
		}
	}

	.services .services-circle{
		background: #fff;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		margin: 8px;
		img{
			height: 100%;
		}
	}

	.gallery {
		padding-top: 20px;
	}

	.about-us .about-us-description .title {
		font-size: 18px;
	}

	.about-us .about-us-description .description {
		font-size: 16px;
	}
}
