@import "setup";

$brick: url("../images/brickwall/brickwall.png");

@mixin clearfixed {
	&::after{
		visibility: hidden; 
		display: block; 
		font-size: 0; 
		content: " "; 
		clear: both; 
		height: 0;
	}
}

@mixin bricked {
	background-image: $brick;
	background-attachment: fixed;
}

body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

nav {
	background: rgba(255, 255, 255, .9);
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #fff;
	z-index:10;

	li {
		text-transform: uppercase;
		display: inline-block;
		padding: 20px 30px;
	}

	a {
		text-decoration: none;
		color: rgb(160, 160, 160);

		&:hover {
			color: rgb(0, 0, 0);
		}
	}
}

.header {
	@include bricked;
	height: 450px;
	position: relative;
	margin-top: 60px;

	.maker-industries {
		line-height: 4.2em;
		padding: 200px 0;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.maker{
		display: block;
		font-size: 3.4em;
		color: #3F3F3F;
	}

	.industries {
		display: block;
		font-size: 2em;
		letter-spacing: 1px;
		color: rgb(132, 132, 132);
		padding-left: 6px;
	}

}

.services {
	padding-top: 60px;
	padding-bottom: 0px;
	
	.services-description{
		display: block;
		width: 70%;
		margin: 10px auto;
		text-align: justify;
		color: rgb(132, 132, 132);
		font-weight: 300;
		font-size: 22px;
		padding: 20px 0 40px;

		h2{
			text-align: center;
		}

		p{
			margin-top: 20px;
			line-height: 1.5;
		}
	}

	.services-circles{
		@include clearfixed;
		display: flex;
		flex-direction: row;
		justify-content: center; // center horizontally
		flex-wrap: wrap; // don't scale, wrap to next row
	}
	
	.services-circle{
		@include bricked;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		margin: 0 20px;
		perspective:500px;
		margin-top: 20px;

		p, img{
			display: block;
			width: 100%;
			position: absolute;
			transition:all .5s;
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
      backface-visibility:hidden;
		}

		img {
			left: 50%;
			height: 50%;
		}

		p{
			font-size: 20px;
			top: 32%;
			padding: 0 20px;
			color: rgb(140, 140, 140);
			font-weight: 300;
			transform: rotateY(180deg); /* By Default set the back to be rotate */
		}

		&.launch p{
			top: 25%;
		}

		&:hover img{
			transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
		}

		&:hover p{
			transform:rotateY(0deg);
		}

	}

	.services-list{
		width: 100%;
		margin: 0 auto;
		padding-top: 60px;
	}

	.services-row{
		li{
			padding: 4px 10px;
			font-weight: 300;
			display: inline-block;
			color: rgb(160, 160, 160);
			position: relative;
			margin: 0 10px;
			font-size: 20px;
			line-height: 1.5;
		}

		li:last-child{
			margin-right: 0;
		}

		.dotted::after {
			margin: 0 10px;
			position: absolute;
			content: "";
			height: 1px;
			width: 1px;
			top: 40%;
			left: 100%;
			border: 1px solid grey;
			background: grey;
		}
	}

}

@media(max-width: 1000px) {
	.services{
		width: 700px;
		margin: 0 auto;

		.services-row .dotted::after {
			margin: 0;
			position: absolute;
			content: "";
			height: 0px;
			width: 0px;
			top: 0;
			left: 0;
			border: none;
			background: none;
		}
	}

	.gallery {
		clear: both;
	}
}

.gallery {
	padding-top: 80px;
}

.gallery-cell{
	position: absolute;
	height: 400px;
}

.gallery-cell img{
	height: 400px;
}



.about-us {
	padding: 60px 0;
	color: black;

	@include clearfixed;

	.about-us-description {
		float: left;
		width: 28%;
		margin: 40px 2.5%;

		.title {
			color: #3F3F3F;
			text-transform: uppercase;
			font-size: 24px;
			padding-bottom: 10px;
		}
		
		.description {
			font-size: 18px;
			color: rgb(160, 160, 160);
			font-weight: 300;
			text-align: justify;
			line-height: 1.5;
		}
	}

}

.contact {
	@include clearfixed;
	background-image: $brick;
	background-attachment: fixed;
	height: 500px;

	.contact-form, .map{
		margin: 80px 5% 40px 10%;
		float: left;
		width: 35%;
		height: 300px;
		border: 1px solid grey;
		overflow: hidden;
	}

	.map {
		margin: 80px 10% 40px 5%
	}

	.contact-form{
		padding: 100px;
		text-align: center;
	}

	iframe {
		height: 300px;
		width: 100%;
	}

	.copyright {
		clear: both;
		font-size: 14px;
		color: rgb(100, 100, 100);
		padding-top: 40px
	}

}
